---
interface Props {
  name: string;
  url: string;
  isBig?: boolean;
}

const { name, url, isBig = false } = Astro.props as Props;

const id = url.split("/").filter(Boolean).pop() as string;

const imageSrc = '#'// `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<!-- href={`/pokemon/${id}`} -->
<a
  href={`/pokemons/${name}`}
  id={name}
  class:list={[
    "rounded flex flex-col justify-center items-center p-2 transition-colors",
    isBig ? "cursor-default" : "bg-slate-700 hover:bg-slate-600 cursor-pointer",
  ]}
>
  <img
    class={isBig ? "w-96 h-96" : "w-32 h-32"}
    src={imageSrc}
    alt={name}
    transition:name={`pokemon-image-${name}`}
  />
  <span
    class={`capitalize ${isBig ? "text-4xl" : "text-base"}`}
    transition:name={`pokemon-name-${name}`}>#{id} {name}</span
  >
</a>
