---
import type { GetStaticPaths } from "astro";
import MainLayout from "@layouts/MainLayout.astro";
import PokemonCard from "@components/pokemons/PokemonCard.astro";

import type { PokemonListResponse } from "@interfaces/pokemon-list.response";
import Title from "@components/shared/Title.astro";

import { Icon } from "astro-icon/components";

const { name } = Astro.params as { name: string };

export const getStaticPaths = (async () => {
  const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
  const { results } = (await resp.json()) as PokemonListResponse;

  const staticPaths = results.map((pokemon) => ({
    params: {
      name: pokemon.name,
    },
    props: {
      name: pokemon.name,
      url: pokemon.url,
    },
  }));

  return staticPaths;
}) satisfies GetStaticPaths;

const { url } = Astro.props as { url: string };

const id = url.split("/").filter(Boolean).pop() as string;
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
const imageSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;

const title = `Pokemon static | #${id} ${name}`;
const description = `Detalles del pokemon ${name}`;
---

<MainLayout title={title} description={description} image={imageSrc}>
  <section class="mt-10 m-auto flex flex-col justify-center items-center">
    <div class="flex flex-row">
      <div transition:animate="slide" class="w-full">
        <button
          onclick="window.history.back()"
          class="rounded bg-blue-500 p-2 text-white cursor-pointer mb-2"
          >Regresar</button
        >
        <Title>{name}</Title>
      </div>

      <button
        id="btn-favorite"
        class="ml-4 hover:animate-pulse cursor-pointer"
        data-name={name}
        data-id={id}
      >
        <Icon data-outline name="heart-outline" size={45} />
        <Icon data-full class="hidden" name="heart-full" size={45} />
      </button>
    </div>

    <PokemonCard name={name} url={url} isBig />

    <audio controls transition:animate="slide">
      <source src={audioSrc} type="audio/ogg" />
      Your browser does not support the audio element.
    </audio>
  </section>
</MainLayout>

<style>
  a {
    color: #ffffff;
    padding: 0.5rem;
    background-color: #3b82f6;
  }

  a:hover {
    text-decoration: underline;
  }

  #btn-favorite {
    color: #d64b4b;
  }
</style>

<script>
  interface FavoritePokemon {
    id: number;
    name: string;
  }

  const handlePageLoad = () => {
    let favoritePokemons: FavoritePokemon[] = JSON.parse(
      localStorage.getItem("favoritesPokemon") || "[]",
    );

    console.log("Favorite Pokemon:", favoritePokemons);

    const btnFavorite = document.querySelector(
      "#btn-favorite",
    ) as HTMLButtonElement;

    if (!btnFavorite) {
      return;
    }

    const name = btnFavorite.dataset.name as string;
    const id = parseInt(btnFavorite.dataset.id as string, 10);

    const heartOutline = btnFavorite.querySelector(
      "[data-outline]",
    ) as HTMLElement;
    const heartFull = btnFavorite.querySelector("[data-full]") as HTMLElement;

    if (favoritePokemons.some((pokemon) => pokemon.id === id)) {
      heartOutline.classList.add("hidden");
      heartFull.classList.remove("hidden");
    }

    const toggleFavorite = () => {
      const isFavorite = favoritePokemons.some((pokemon) => pokemon.id === id);

      if (isFavorite) {
        favoritePokemons = favoritePokemons.filter(
          (pokemon) => pokemon.id !== id,
        );
      } else {
        favoritePokemons.push({ id, name });
      }

      localStorage.setItem("favoritesPokemon", JSON.stringify(favoritePokemons));
    };

    btnFavorite.addEventListener("click", () => {
      heartOutline.classList.toggle("hidden");
      heartFull.classList.toggle("hidden");

      toggleFavorite();
    });
  };

  document.addEventListener("astro:page-load", handlePageLoad);
</script>
