---
import type { GetStaticPaths } from "astro";
import MainLayout from "@layouts/MainLayout.astro";
import PokemonCard from "@components/pokemons/PokemonCard.astro";
import type { PokemonListResponse } from "@interfaces/pokemon-list.response";

export const getStaticPaths = (async ({ paginate }) => {
  const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");

  const { results } = (await resp.json()) as PokemonListResponse;

  return paginate(results, { pageSize: 20 });
}) satisfies GetStaticPaths;

const title = "Pokemon static | Home";
const { page } = Astro.props;
---

<MainLayout title={title}>
  <h1 class="text-3xl">Listado de pokemons</h1>
  <hr />

  <section
    aria-label="Listado de pokemons"
    class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 mt-5"
  >
    {
      page.data.map((pokemon) => (
        <PokemonCard name={pokemon.name} url={pokemon.url} />
      ))
    }
  </section>

  <section class="flex mt-10 gap-2 items-center">
    <a href={page.url.first} class="btn"
      >Primero {page.url.first ? page.url.first.split("/").pop() : ""}</a
    >

    <a
      href={page.url.prev}
      class:list={["btn", page.url.prev ? "" : "disabled"]}
      >Anterior {page.url.prev ? page.url.prev.split("/").pop() : ""}</a
    >

    <a
      href={page.url.next}
      class:list={["btn", page.url.next ? "" : "disabled"]}
      >Siguiente {page.url.next ? page.url.next.split("/").pop() : ""}</a
    >

    <a href={page.url.last} class="btn"
      >Último {page.lastPage ? page.lastPage : ""}</a
    >

    <div class="flex flex-1"></div>

    <span class="text-xl font-bold"
      >Página {page.currentPage ? page.currentPage : ""}</span
    >
  </section>
</MainLayout>

<style>
  @import "tailwindcss";

  .btn {
    @apply bg-blue-500 p-2 text-white rounded-md;
  }

  .disabled {
    @apply bg-gray-600 text-gray-400;
  }
</style>
